<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kat.finalproject_newbrews" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TypesofBeer"
            android:label="@string/title_activity_latest_releases" >
        </activity>
        <activity
            android:name=".LatestReleases"
            android:label="@string/title_activity_latest_releases" >
        </activity>
        <activity
            android:name=".BarsRestaurants"
            android:label="@string/title_activity_bars_restaurants" >
        </activity>
        <activity
            android:name=".BeerInfo"
            android:label="@string/title_activity_beer_info" >
        </activity>
        <activity
            android:name=".BarResPage"
            android:label="@string/title_activity_bar_res_page" >
        </activity>
        <activity
            android:name=".BeersOfType"
            android:label="@string/title_activity_beers_of_type" >
        </activity>
        <activity
            android:name=".BeerInfo2"
            android:label="@string/title_activity_beer_info2" >
        </activity>
    </application>

</manifest>
